.textWrapper {
  margin: 0% auto;
  padding: 0%;
}
.mnist_button {
	width: 49.25%;
	display: inline-block;
}
.res {
	font-size: 50px;
	padding: 0%;
	margin: 0% 0% 65px 0%;
	text-align: center;
}

.open_close {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  cursor: pointer;
}
#myCan {
	width: 280;
	height: 280;
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto 5px auto;
	display: block;
	border-style: solid;
}

#open_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  min-width: 366px;
  margin: 0% auto;
  padding: 0%;
}

#openAllIcon {
  display: block;
  padding: 0%;
  margin: 5% 0%;
  font-size: 200%;
}

.wrapper_hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  width: 28%;
  min-width: 366px;
  margin: 0% auto;
  border-style: solid;
  cursor: pointer;
  overflow: auto;
}

.wrapper_hide:hover, .open_close:hover {
  border-color: green;
  background-color: rgba(255, 255, 255, 1);
}

.hidden_text {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
  margin: 0% auto;
  border-style: solid;
}

.textIcon {
  display: block;
  padding: 0%;
  font-size: 200%;
}

.picIcon {
  display: inline-block;
  float: right;
  width: 25%;
  min-width: 100px;
  height: auto;
  border-radius: 50%;
  margin: 0%;
  padding: 0%;
}

.sub_header {
  padding: 0% 2%;
}

.table {
  display: block;
  width: 100%;
}

.table_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table_cell {
  background-color: white;
  display: inline-block;
  word-wrap: break-word;
  width: 98%;
  margin: 0.5%;
  padding: 0.5%;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 1px 2px #888888;
          box-shadow: 1px 2px #888888;
  border-radius: 10px;
}

.work_exp ul {
  display: inline-block;
  list-style-type: none;
}

.work_exp ul li {
  margin: 2% 0%;
  padding: 0%;
}

.work_exp ul li p {
  display: inline-block;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin: 0%;
  padding: 0%;
}

body {
  margin: 2%;
  background-color: rgba(0,188,212,1)
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
  height: 98%;
  padding: 1%;
  margin: 0 auto;
  border-style: solid;
  border-color: black;
}

.name {
  text-align: center;
  font-size: 400%;
  margin: 0%;
  cursor: default;
}

.navi {
  cursor: default;
  text-align: center;
  list-style: inside;
  padding: 0%;
}

.navi li {
  display: inline-block;
}

.go_to {
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  padding: 4px 5px 0px 5px;
}

.go_to:hover {
  border-width: 6px 0px 0px 0px;
  padding: 0% 5px;
}

.textNothing {
  padding: 0%;
  margin: 0%;
}

.here {
  border-style: solid;
  border-width: 6px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
}

.buffer {
  margin: 0% 1%;
}

.lnk {
  text-decoration: none;
  color: black;
}

.mainRow {
  width: 100%;
  padding: 1%;
  margin: 2% auto 0% auto;
}

#wrapperDiv {
  display: table;
  margin: 0 auto;
}

#titleOfPage1 {
  font-size: 250%;
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.mainText {
  display: inline-block;
  width: 40%;
  padding: 0%;
  margin: 5% 0% 3.5% 2%;
  text-align: center;
}

#paragraph {
  display: table;
  margin: 0 auto;
  width: 100%;
}

.mainImg {
  display: inline-block;
  width: 20%;
  height: auto;
  padding: 0%;
  margin: 0% 5% 0% 3%;
  border-radius: 50%;
}

.mainImgR {
  float: right;
}

.mainImgL {
  float: left;
}

.invisible {
  background-color: rgba(255,255,255,0);
  border-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*# sourceMappingURL=style.css.map */
